<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] Joseph Harburg</title>
    <link href="https://fonts.googleapis.com/css?family=Bebas+Neue|Roboto|Patua+One&display=swap" rel="stylesheet">
    <link rel="stylesheet"
          href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
          integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
          crossorigin="anonymous" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-toggleable-sm">
            <div class="container justify-content-center">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><h2><img src="~/imgs/logo2.png" class="mainimg" /></h2></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <h1><a class="nav-link text-secondary" asp-area="" asp-controller="Home" asp-action="About">About</a></h1>
                        </li>
                        <li class="nav-item">
                            <h1><a class="nav-link text-secondary" asp-area="" asp-controller="Home" asp-action="Portfolio">Portfolio</a></h1>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div >
        <main role="main" class="">
            @RenderBody()
        </main>
    </div>

    <footer class="footer">
            <div >
                <div class="row text-center"><div class="mx-auto"><h1 class="contact text-dark">Contact Me:</h1></div></div>
   
                <div class="row  footerwrapper ">
                    <div class="mx-auto">
                        <span>
                            <a href="mailto:josephharburg@gmail.com" target="_blank">
                                <i class="fas fa-envelope fat"></i>
                            </a>
                            <a href="https://github.com/josephharburg" target="_blank">
                                <i class="fab fa-github fat"></i>
                            </a>
                            <a href="https://www.linkedin.com/in/joseph-harburg-82568971/"
                               target="_blank">
                                <i class="fab fa-linkedin fat "></i>
                            </a>
                            <a href="https://josephharburg.wordpress.com" target="_blank">
                                <i class="fab fa-wordpress fat"></i>
                            </a>
                            <a href="https://twitter.com/JosephHarburg" target="_blank">
                                <i class="fab fa-twitter fat"></i>
                            </a>

                            <a href="https://facebook.com/Josephharburg" target="_blank">
                                <i class="fab fa-facebook fat"></i>
                            </a>
                        </span>
                    </div>
                </div>
            </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
