
@{
    ViewData["Title"] = "About";
}
    <div class="jumbotron-fluid text-center">
        <h1 class="display-1 mx-auto text-dark">
            About Me
        </h1>
        <br />
    </div>
<div class="container mx-auto">
    <h1 class="text-center text-info"><i class="fas fa-clock"></i>I spend my time:</h1>
    <br />
    


        <div class="row">
            <div class="col col-md-auto">
                <h2 class="text-success aboutme"><i class="fas fa-users"></i> With family</h2>
                <h2 class="text-secondary aboutme"><i class="fas fa-laptop"></i> Programming</h2>
            </div>
            <div class="col col-md-auto">
                <h2 class="text-warning aboutme"><i class="fas fa-lightbulb"></i> Discussing Ideas</h2>
                <h2 class="text-dark aboutme"><i class="fas fa-mug-hot"></i> Roasting Coffee </h2>
            </div>
            <div class="col col-md-auto">
            <h2 class="text-danger aboutme"><i class="fas fa-book"></i> Reading </h2>
            <h2 class="text-info aboutme"><i class="fas fa-hiking"></i> Enjoying the Outdoors</h2>
             </div>
        </div>
    
    
</div>

