@{
    ViewData["Title"] = "Home Page";
}
<div class="bgwrapper">
    <video playsinline autoplay muted loop src="~/imgs/typing.mov">
    </video>
</div>
<div class="hoverlay">
</div>
<div class="jumbotron-fluid">
    <h1 class="display-1 text-dark text-center heading" heading>
        <br />
       
        Joseph Harburg
    </h1>
    <div class="display-4 text-center text-secondary">Programmer | Graphic Designer | Web Developer</div>
</div>  


<div class="container mx-auto positioned">
    
        
</div>
