@{
    ViewData["Title"] = "";
}
<h1>@ViewData["Title"]</h1>

<div class="jumbotron jumbotron-fluid bg-dark">
    <h1 class="display-1" id="name">
        Technical Skills
    </h1>

</div>
<div class="container">


    <div class="row justify-content-md-center">

        <div class="col">
            <h1 class="bulletsleft"><span class="badge badge-primary">C#/.NET Core</span></h1>
            <h1 class="bulletsleft"><span class="badge badge-dark">BootStrap</span></h1>
            <h1 class="bulletsleft"><span class="badge badge-danger">HTML/CSS</span> </h1>
        </div>

        @*<div class="col col-auto">
            <img src="\imgs\profilepic.png"
                 class="mainimg"
                 alt="img" />
        </div>*@

        <div class="col">
            <h1 class="bulletsleft"><span class="badge badge-info ">OOP</span>   </h1>
            <h1 class="bulletsleft"><span class="badge badge-success">Git/Github</span>   </h1>
            <h1 class="bulletsleft"><a  href="https://github.com/josephharburg/SQL-ServerPractice"> <span class="badge badge-secondary">SQL Server</span>  </a></h1>
        </div>
        <div class="col">
            <h1 class="bulletsleft"><span class="badge badge-success"> EF Core</span></h1>
            <h1 class="bulletsleft"><span class="badge badge-primary">Jquery</span> </h1>
            <h1 class="bulletsleft"><span class="badge badge-info ">APIs</span> </h1>
        </div>

  
    </div>
</div>
